# Default ignored files
/../../../../:PycharmProjects/cookie_automation_selenium/.idea/shelf/
/../../../../:PycharmProjects/cookie_automation_selenium/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:PycharmProjects/cookie_automation_selenium/.idea/dataSources/
/../../../../:PycharmProjects/cookie_automation_selenium/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../:PycharmProjects/cookie_automation_selenium/.idea/httpRequests/
